<div class="modalShow">
  <div class="headerWrapper">
    <h3 class="modalHeading">Delete course</h3>
    <div class="btnWrapper">
      <app-button
      variant="icon"
      icon="close"
      [onClick]="onCloseModal"
      />
    </div>
  </div>

  <div class="descriptionWrapper">
    <p class="modalDescription">Are you sure you want to delete {{ courseName }}?</p>
  </div>
  <div class="buttonWrapper">
    <app-button
      type="button"
      variant="filled"
      size="large"
      color="tertiary"
      [onClick]="onCancel"
    >Cancel
    </app-button>
    <app-button
      type="button"
      variant="filled"
      size="large"
      color="secondary"
      [onClick]="onConfirm"
      >Yes, delete
    </app-button>
  </div>

</div>
