<div class="confirmationModalWrapper">
  <div class="headerWrapper">
    <h3 class="modalHeading">Delete course</h3>
    <div class="btnWrapper">
      <app-button
      variant="icon"
      icon="close"
      />
    </div>
  </div>

  <div class="descriptionWrapper">
    <p class="modalDescription">Are you sure you want to delete Video Course 1?</p>
  </div>
  <div class="buttonWrapper">
    <app-button
      type="button"
      variant="filled"
      size="large"
      color="tertiary"
    >Cancel
    </app-button>
    <app-button
      type="button"
      variant="filled"
      size="large"
      color="secondary"
      >Yes,delete
    </app-button>
  </div>

</div>
