<div class="searchPanel">
    <div class="searchForm">
        <div class="searchInputContainer">
          <app-input></app-input>
        </div>
        <div class="searchBtnContainer">
            <app-button
                variant="filled"
                size="large"
                color="secondary">
                Search
            </app-button>
        </div>
      </div>
    <div class="addCourse">
        <app-button
            variant="filled"
            size="large"
            color="primary"
            icon="add_circle">
            <!-- <app-icon icon="add_circle"></app-icon> -->
            Add course
        </app-button>
    </div>
</div>

