@import '../../../../styles.scss';

.searchPanel {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 25px 80px; // padding-wrapper

    .searchForm {
        max-width: 50%;
        background-color: $grey-bg;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: flex-start;
    
        .inputDefault {
            width: 70%;
            padding: 10px 0 10px 10px;
            color: $text-main-color;
            border: 1px solid $addition-color;
            border-radius: 3px;
            font-size: 14px;
    
            &::placeholder {
                color: $text-light-color; 
            }
            &:focus {
                outline: none;
    
                &::placeholder {
                    color: transparent;
                }
            } 
        }
        .searchBtnContainer {
            display: flex;
            width: 30%;
        }
    }
    .addCourse {
        background-color: $grey-bg;
        align-self: flex-end;
        width: 11%;
    }
}

