@import '../../../../styles.scss';

:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 25px $wrapper;
  box-sizing: border-box;

  .searchPanel {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  .addCourse {
    background-color: $grey-bg;
    align-self: flex-end;
  }
}


