<div class="searchPanel">
    <form class="searchForm">
        <input type="text" placeholder="Type to search" class="inputDefault">
        <div class="searchBtnContainer">
            <app-button 
                variant="filled"
                size="large"
                color="secondary">
                Search
            </app-button>
        </div>
        
    </form>
    <div class="addCourse">
        <app-button 
            variant="filled"
            size="large"
            color="primary"
            icon="add_circle">
            <!-- <app-icon icon="add_circle"></app-icon> -->
            Add course
        </app-button>
    </div>
</div>

