<div *ngIf="courseData" class="section course">
    <div class="header">
        <h1 class="heading">{{ courseData.title }}</h1>
        <div class="infoWrapper">
            <div class="infoItem">
                <app-icon icon="schedule"></app-icon>
                <p>{{ formatDuration(courseData.duration) }}</p>
            </div>
            <div class="infoItem">
                <app-icon icon="calendar_today"></app-icon>
                <p>{{ courseData.creationDate }}</p>
            </div>
        </div>
    </div>
    <div class="description">
        <p class="descriptionText">{{ courseData.description }}</p>
        <div class="editArea">
            <app-button
                variant="filled"
                size="small"
                color="primary"
                icon="edit"
            >
                Edit
            </app-button>
            <app-button
                variant="filled"
                size="small"
                color="primary"
                icon="delete"
            >
                Delete
            </app-button>
        </div>
    </div>
  </div>
