@import '../../../../styles.scss';

.breadcrumps {
    width: 100%;
    box-sizing: border-box;
    padding: 25px $wrapper;
    color: $text-main-color;
    font-size: 14px;
    font-weight: 600;
    background-color: $light-bg;
}
