
<header class="header">
    <nav class="navigation">
        <a href="#" class="nav-home">
            <img alt="logo" src="../../../assets/icon.png" class="logo-icon" /> VIDEO COURSE
        </a>
        <div class="nav-btn-wrapper">
            <app-button 
                [buttonText]="'User login'" 
                [className]="'nav-btn'" 
                [iconSrc]="'../../../assets/user-icon.svg'">
            </app-button>
            <app-button 
                [buttonText]="'Log out'" 
                [className]="'nav-btn'"
                [iconSrc]="'../../../assets/logout-icon.svg'">
            </app-button>
        </div>
        
    </nav>
   

</header>

