
<header class="header">
    <nav class="navigation">
        <app-logo></app-logo>
        <div class="nav-btn-wrapper">
            <app-button 
                variant="text"
                size="small"
                >
                <app-icon icon="person"></app-icon>
                User login
            </app-button>
            
            <app-button 
                variant="text"
                size="small">
                <app-icon icon="logout"></app-icon>
                Log out
            </app-button>
        </div>
        
    </nav>
   
</header>

