<header class="header">
  <nav class="navigation">
      <app-logo></app-logo>
      <div class="nav-btn-wrapper" *appIfAuthenticated="true">
          <div class="userLogin">
            <app-icon icon="person"></app-icon>
            {{ user?.login }}
          </div>

          <app-button
              variant="text"
              size="small"
              color="light"
              (click)="logout()"
              testID="logoutButton"
          >
              <app-icon icon="logout"></app-icon>
              Log out
          </app-button>
      </div>
  </nav>
</header>
