@import '../../../styles.scss';

.btn {
    cursor: pointer;
}

.nav-btn {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    color: $light-bg;
    font-size: 14px;
        img {
            width: 20px;
        }
}


