@import '../../../../styles.scss';

:host{
  display: block;
  width: 100%;
}

.fieldLabel {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  width: 100%;

  .mark {
    position: absolute;
    right: 0;
    top: 0;

    font-size: 14px;
    line-height: 1.5;
    margin: 0;
  }
  .required {
    color: $text-description-color;
  }
  .error {
    color: $text-error-color;
  }
}
.fieldLabelLarge {
  width: 100%;
}
.fieldLabelSmall {
  width: 30%;
}
.fieldLabelMedium {
  width: 50%;
}
