@import '../../../../styles.scss';
.searchForm {
  max-width: 50%;
  background-color: $grey-bg;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;

  .searchInputContainer {
    display: flex;
    width: 70%;

    .searchBtnContainer {
      display: flex;
      width: 30%;
    }
  }
}

