<div class="coursesPage">
    <app-breadcrumps></app-breadcrumps>
    <app-section></app-section>
    <div class="coursesWrapper">
        <ul class="coursesList">
            <li class="section course">            
                <div class="header">
                    <h1 class="heading">Video Course 1. Name tag</h1>
                    <div class="infoWrapper">
                        <div class="infoItem">
                            <app-icon icon="schedule"></app-icon>
                            <p>1h 28 min</p>
                        </div>
                        <div class="infoItem">
                            <app-icon icon="calendar_today"></app-icon>
                            <p>08/28/2020</p>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <p class="descriptionText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam velit est aliquam. Obcaecati incidunt pariatur excepturi eum aliquam laborum dolorem eligendi! Facere tenetur voluptatibus, atque eveniet mollitia perferendis dolores qui.</p>
                    <div class="editArea">
                        <app-button 
                            variant="filled"
                            size="small"
                            color="primary"
                        >
                            <app-icon icon="edit"></app-icon>
                            Edit
                        </app-button>
                        <app-button 
                            variant="filled"
                            size="small"
                            color="primary"
                        >
                            <app-icon icon="delete"></app-icon>
                            Delete
                        </app-button>
                    </div>
                </div>
            </li>
            <li class="section course">            
                <div class="header">
                    <h1 class="heading">Video Course 1. Name tag</h1>
                    <div class="infoWrapper">
                        <div class="infoItem">
                            <app-icon icon="schedule"></app-icon>
                            <p>1h 28 min</p>
                        </div>
                        <div class="infoItem">
                            <app-icon icon="calendar_today"></app-icon>
                            <p>08/28/2020</p>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <p class="descriptionText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam velit est aliquam. Obcaecati incidunt pariatur excepturi eum aliquam laborum dolorem eligendi! Facere tenetur voluptatibus, atque eveniet mollitia perferendis dolores qui.</p>
                    <div class="editArea">
                        <app-button 
                            variant="filled"
                            size="small"
                            color="primary"
                        >
                            <app-icon icon="edit"></app-icon>
                            Edit
                        </app-button>
                        <app-button 
                            variant="filled"
                            size="small"
                            color="primary"
                        >
                            <app-icon icon="delete"></app-icon>
                            Delete
                        </app-button>
                    </div>
                </div>
            </li>
            <li class="section course">            
                <div class="header">
                    <h1 class="heading">Video Course 1. Name tag</h1>
                    <div class="infoWrapper">
                        <div class="infoItem">
                            <app-icon icon="schedule"></app-icon>
                            <p>1h 28 min</p>
                        </div>
                        <div class="infoItem">
                            <app-icon icon="calendar_today"></app-icon>
                            <p>08/28/2020</p>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <p class="descriptionText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam velit est aliquam. Obcaecati incidunt pariatur excepturi eum aliquam laborum dolorem eligendi! Facere tenetur voluptatibus, atque eveniet mollitia perferendis dolores qui.</p>
                    <div class="editArea">
                        <app-button 
                            variant="filled"
                            size="small"
                            color="primary"
                        >
                            <app-icon icon="edit"></app-icon>
                            Edit
                        </app-button>
                        <app-button 
                            variant="filled"
                            size="small"
                            color="primary"
                        >
                            <app-icon icon="delete"></app-icon>
                            Delete
                        </app-button>
                    </div>
                </div>
            </li>
        </ul>

        <div class="coursesList">
            <app-button variant="linkSpecial">Load more</app-button>
        </div>
    </div>
</div>
