<div *ngIf="courseData" class="section course">
  <ng-container *ngIf="showConfirmationModal">
    <app-confirmation-modal
      *ngIf="showConfirmationModal"
      (closeModal)="closeModal()"
      (handleDelete)="deleteCourse.emit(courseData.id)"
      [courseName]="courseData.title"
      [courseId]="courseData.id"
    ></app-confirmation-modal>
  </ng-container>
    <div class="header">
      <div class="headingWrapper">
        <h1 class="heading">{{ courseData.title | uppercase }}</h1>
        <app-icon icon="star_rate" *ngIf="courseData.topRated" variant="rate"></app-icon></div>
      <div class="infoWrapper">
          <div class="infoItem">
              <app-icon icon="schedule"></app-icon>
              <p>{{ courseData.duration | duration }}</p>
          </div>
          <div class="infoItem">
              <app-icon icon="calendar_today"></app-icon>
              <p>{{ courseData.creationDate | date: 'dd MMM, yyyy' }}</p>
          </div>
      </div>
    </div>
    <div class="description">
        <p class="descriptionText">{{ courseData.description }}</p>
        <div class="editArea">
            <app-button
                variant="filled"
                size="small"
                color="primary"
                icon="edit"
                (click)="handleEdit(courseData.id)"
            >
                Edit
            </app-button>
            <app-button
                variant="filled"
                size="small"
                color="primary"
                icon="delete"
                (click)="showModal()"
                testID="deleteCourse"
            >Delete
            </app-button>
        </div>
    </div>
  </div>
