@import '../../../styles.scss';
:host{
  display: block;
  width: 100%;
}

.inputDefault {
  width: 100%;
  padding: 10px 0 10px 10px;
  color: $text-main-color;
  border: 1px solid $addition-color;
  border-radius: 3px;
  font-size: 14px;
  box-sizing: border-box;

  &::placeholder {
      color: $text-light-color;
  }
  &:focus {
      outline: none;

      &::placeholder {
          color: transparent;
      }
  }
}
