html {
    height: 100%;
}
.root {
    display: block;
    min-height: 100%;
}


//variables
$dark-bg: #30323f;
$light-bg: #ffffff;
$grey-bg: #f5f6fa;

$primary-btn-color: #009ecd;
$secondary-btn-color: #66a300;
$tertiary-btn-color: #d0d0d2;
$link-coor: #648bef;

$text-main-color: #333333;
$text-info-color: #b0b3bd;
$text-description-color: #787a85;
$text-light-color: #cccdd8;

$addition-color:#ced0dc;

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: $grey-bg;
}
.heading {
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    color: $text-main-color;
}








