<div class="courseInfoWrapper">
  <div class="titleWrapper">
    <h1 class="heading">New course</h1>
    <p class="error-message" *ngIf="!ifAllFieldFill">
      * Please fill all fields.
    </p>
  </div>
  <form class="courseInfoForm" [formGroup]="courseForm" (ngSubmit)="createCourse($event)">
    <app-input
      size="fieldLabelLarge"
      placeholder="Add title"
      [control]="courseForm.controls['title']">
      Title:
    </app-input>

    <app-textarea
      rows="4"
      cols="50"
      placeholder="Add description"
      [control]="courseForm.controls['description']">
      Description:
    </app-textarea>

    <div class="durationWrapper">
      <div class="durationInputWrapper">
        <app-input
          size="fieldLabelLarge"
          placeholder="minutes"
          [control]="courseForm.controls['duration']">
          Duration:
        </app-input>
      </div>
      <span class="durationModif">{{ courseForm.controls['duration'].value | duration }}</span>
    </div>

    <app-input
      size="fieldLabelSmall"
      placeholder="MM/DD/YYYY"
      [control]="courseForm.controls['creationDate']">
      Date:
    </app-input>

    <app-input
      size="fieldLabelMedium"
      placeholder="Start typing"
      [control]="courseForm.controls['authors']">
      Authors:
    </app-input>

    <div class="btnWrapper">
      <app-button
        type="button"
        variant="filled"
        size="large"
        color="tertiary"
        (click)="cancelCreating()"

      >Cancel
      </app-button>
      <app-button
        type="submit"
        variant="filled"
        size="large"
        color="secondary"
      >Save
      </app-button>
    </div>
  </form>
</div>
